@font-face{
  font-family: CSB;
  src: url('../fonts/Calgary-Serial-Light-Regular.ttf');
}
@font-face{
  font-family: NGS;
  src: url('../fonts/NewsGothicStd.otf');
}
@font-face {
  font-family: NGSB;
  src: url('../fonts/NewsGothicStd-Bold.otf');
}
html{
  font-family: arial;
}
a {
  text-decoration: none;
  color: black;
  outline: none;
}
img{
  width: 100%;
}
/* navigation bar */
.nav-wrapper{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #cccccc;
  position: sticky;
  z-index: 2;
  top: 0;
  background: white;
}
nav{
  width: 100%;
  max-width: 1605px;
  display: grid;
  grid-template-columns: 35px 35px 130px 7fr 205px 7fr 120px 65px ;
  grid-template-rows: auto;
  height: 40px;
  grid-gap: 10px;
  text-transform: uppercase;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 10px;
}
.title{
  grid-column: 5/6;
}
.subscribe-nav{
  grid-column: 7/8;
}
nav button{
  height: 35px;
  padding: 9px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
nav button:hover{
  background: hsl(0, 0%, 98%);
}

.blue-btns{
  background-color: #6288a5;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 4px;
  display: grid;
  grid-template-rows: 15px;
  align-items: flex-end;
  border: 1px solid #3f71a7;
  padding: 11px 13px;
  width: 100%;
}
.blue-btns:hover{
  background-color: #3f71a7;
  transition: background 1.5s;
}
.blue-btns::-moz-focus-inner{
  border: 0;
}
nav a:hover{
  text-decoration: underline;
}

/* article */
article{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  font-size: 1.4em;
  grid-gap: 30px;
  margin: 20px 0;
}
article>* {
  grid-column: 3 / 4;
}

.picture, .video{
  width: 100%;
  color: #666666;
  font-size: 0.75em;
}
.picture{
  grid-column: 2/5;
}
.credits{
  font-size: 0.73em;
}

h1{
  width: 600px;
  font-size: 1.6em;
  font-weight: bold;
  font-family: 'Domine', serif;
  font-style: italic;
}
p{
  font-family: CSB;
  font-size: 100;
  word-spacing: 3px;
  letter-spacing: 1px;
  margin: 20px 0px;
}
.article-info{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
}
.article-info span:nth-child(1){
  font-size: 0.6em;
  font-family: NGSB;
  letter-spacing: 0.5px;
  grid-column: 1/-1;
}
.article-info span:nth-child(2){
  font-family: NGS;
  font-size: 0.55em;
}
.article-info ul, .article-end ul{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-content: center;
  grid-gap: 15px;
}

.article-info li, .article-end li{
  background: #e6e6e6;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.article-info svg, .article-end svg{
  vertical-align: middle;
  position: relative;
  padding-left: 8px;
}
.article-info ul button, .article-end ul button{
  background: none;
  border: none;
  padding: 0;
}
.article-info ul li:nth-child(1n + 5){
  background: none;
}
.comment-button{
  border: 1px solid grey;
  border-radius: 5px;
  width: 30px;
  padding-left: 5px;
}
h2{
  font-weight: bold;
  font-size: 1.1em;
}

/* article footer */
.additional-info{
  font-size: 0.5em;
  grid-column: 1/-1;
  color: #999999;
}
.additional-info a{
  color: #999999;
}
.additional-info a:hover{
  text-decoration: underline;
}
.article-end ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.article-end{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}
.article-end button{
  width: 330px;
  font-size: 0.6em;
  text-transform: uppercase;
}
.article-end li button{
  width: 30px;
  height: 30px;
}

/* other articles */

.other-articles{
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 700px 350px;
  grid-gap: 30px;
  margin: 0 50px;
}
.space-cosmos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px ,1fr));
  grid-gap: 20px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 10px 0;
}
.category{
  grid-column: 1 / -1;
  grid-row-end: 1;
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  align-self: center;
}
.save-stories{
  border: 1px solid black;
  border-radius: 3px;
  background: none;
  grid-column-end: -1;
  grid-row-end: 1;
  width: 140px;
  height: 40px;
  font-size: 0.5em;
  justify-self: end;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.save-stories span{
  padding-right: 3px;
}
.img-text, .date{
  font-size: 0.55em;
  color: #999999;
  display: block;
  margin: 3px 0;
}
.article-title{
  font-size: 0.65em;
  font-weight: 600;
}
.most-popular{
  border-top: 1px solid;
  padding: 20px 0;
  grid-row: 1/-1;
  grid-column-end: -1;
}
.most-popular a{
  border-top: 1px solid RGB(0, 0, 0, 10%);
  display: block;
  padding: 15px 0;
  margin: 5px 0;
  font-size: 0.9em;
}
.most-popular a:hover{
  color: RGB(0, 0, 0, 70%);
}
.editors-pick{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px ,1fr));
  grid-gap: 20px;
}
/* footer of the page */

footer{
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-top: 1px solid RGB(0, 0, 0, 10%);
  grid-gap: 20px;
  padding-top: 20px;
}
.logo{
  grid-column: 1 / -1;
  grid-row-end: 1;
  width: 200px;
}
.home-page{
  grid-column-end: -1;
  grid-row-end: 1;
  justify-self: end;
  font-size: 0.5em;
  color: rgb(98, 136, 165);
}
footer a:hover{
  text-decoration: underline;
}
.contact{
  grid-column: 1 / -1;
  border-top: 1px solid RGB(0, 0, 0, 10%);
}
.contact ul {
  display: flex;
  justify-content: space-around;
  margin: 10px 70px;
}
.contact li{
  margin: 3px;
  font-size: 0.5em;
}
.contact a{
  color: RGB(0, 0, 0, 55%);
}

.new-york-categories{
  font-size: 0.6em;
  text-transform: capitalize;
}
h3{
  text-transform: uppercase;
  font-weight: bold;
}
.new-york-categories li{
  margin: 10px 0;
}

.subscribe{
  font-size: 0.6em;
  text-transform: capitalize;
}

.subscribe li {
  margin: 10px 0;
}
.home-delivery{
  font-size: 1.1em;
  font-weight: bold;
}
.home-delivery svg{
  width: 15px;
  height: 15px;
}

.other-subs{
  font-size: 0.8em;
  padding-top: 5px;
}
.other-subs:last-child{
  border-top: 1px solid RGB(0, 0, 0, 10%);
}
