a {
  text-decoration: none;
  color: black;
  outline: none;
}
img{
  width: 100%;
}
/* navigation bar */
nav{
  display: grid;
  grid-template-columns: 2fr 35px 35px 130px 6fr 200px 6fr 120px 65px 2fr;
  grid-template-rows: auto;
  height: 40px;
  grid-gap: 5px;
  text-transform: uppercase;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #cccccc;
  position: sticky;
  z-index: 2;
  top: 0;
  background: white;
}
.menu{
  grid-column: 2/3;
}
.title{
  grid-column: 6/7;
}
.subscribe{
  grid-column: 8/9;
}
nav button{
  height: 35px;
  padding: 9px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.blue-btns{
  background-color: #6288a5;
  color: white;
  font-size: 11px;
  font-weight: bold;
  border-radius: 4px;
  display: grid;
  grid-template-rows: 15px;
  align-items: flex-end;
  height: 33px;
  border: 1px solid #3f71a7;
}
.blue-btns:hover{
  background-color: #3f71a7;
  transition: background 1.5s;
}
.blue-btns::-moz-focus-inner{
  border: 0;
}
nav a:hover{
  text-decoration: underline;
}

/* article */
article{
  display: grid;
  grid-template-columns: 1fr 1fr 700px 1fr 1fr;
}
article>* {
  grid-column: 3 / 4;
}

.picture{
  grid-column: 2 / 5;
}

h1{
  font-size: 35px;
  font-weight: bold;
}
